@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;

}

body{
    background-color:white ;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(219, 215, 215);
    width: 400px;
}
h2{
    text-align: center;
    margin: opx o 20px;
}
.form{
    padding: auto;

}
.form-control{
    margin-bottom:10px ;
    padding-bottom:20px ;
    position: relative;
}
.form-control label{
   color: #777;
   margin-bottom: 5px;
   display: block;
}
.form-control input{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    display: block;
    border-width:100%;
    padding: 10px;
    font-size: 14px;
}
.form-control  input:focus{
 outline: 0;
 background-color: rgb(226, 207, 207);

}