@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #E1EBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: 30px auto;
    width: 350px;
}

h1{
 letter-spacing: 1.5px;
 margin: 0;

}

h3{
   margin: 40px 0 10px;
   padding-bottom: 10px;
   border-bottom: 1px solid grey;

}

h4{
   margin: 0;
   text-transform: uppercase; 
}

.credit-debit-container {
    background-color:lightblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}

.credit-debit-container > div{

    flex: 1;
    text-align: center;
}

.credit-debit-container > div:first-of-type{
    border-right:1px solid white;
}

.money {

    font-size: 24px;
    letter-spacing: 1.5px;
    margin: 5px 0;

}

.money.credit{
    color: green ;
}
.money.debit{
    color: red;
}
.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}
.list li{background-color: white;
display: flex;
justify-content: space-between;
position: relative;
padding: 10px;
margin: 10px 0;

}
.list li.credit {
border-right: 10px solid #16C79A;

}
.list li.debit {
    border-right: 10px solid #F55C47;
 }

.delete-btn {
    background-color: red;
    border: 0;
    color: white;
    font-size: 18px;
    line-height:18px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-150%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.list li:hover .delete-btn {
    opacity: 1;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input {
    border: 1px solid lightgray;
    border-radius: 2px;
    display: block;
    font-size: 18px;
    padding: 10px;
    width: 100%;
}

.btn {
    background-color: navy;
    color: white;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 20px 0 30px;
    width: 100%;
    padding: 10px;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait 
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}